// main: style.scss
#add_box {
  content: "";
  position: absolute;
  top: calc(100% - 50% - 300px);
  left: calc(100% - 50% - 600px);
  width: 1200px;
  height: 600px;
  padding: 25px;
  z-index: 3;
  background-color: var(--white);
  border: 1px solid var(--grey);
  -webkit-box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.4);
  -moz-box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.4);
  box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.4);
  @extend .display-flex;
  justify-content: flex-end !important;
  .add_box_top {
    width: 100%;
    height: 10%;
    @extend .display-flex;
    .add_box_info {
      width: 90%;
      height: 100%;
      font-size: 4em;
      color: var(--green);
      display: flex;
      align-items: center;
    }
    .add_box_close {
      width: 10%;
      height: 100%;
      @extend .display-flex;
      font-size: 3em;
      background-color: var(--green);
      color: var(--white);
      i {
        margin-left: 10px;
        font-size: 1.5em;
        color: var(--white);
      }
    }
  }
  .add_box_content {
    height: 70%;
    width: 100%;
    padding-top: 15px;
    @extend .display-flex;

    .wrap-input {
      width: auto;
      height: auto;
      position: relative;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      margin: 10 30 10 30;

      .wrap-label {
        position: absolute;
        color: #757575;
        top: -23px;
        left: 15px;
        font-size: 1.7rem;
        line-height: 1.5;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        font-family: "Nunito";
        font-weight: 500;
        -webkit-transform: matrix3d(
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          0,
          0,
          1,
          0,
          0,
          40,
          0,
          1
        );
        // &:before{
        //   content: "";
        //   position: absolute;
        //   top: calc(100% - 50% - 1px);
        //   left: -15px;
        //   width: 10px;
        //   height: 2px;
        //   background-color: #C06C84;
        // }
      }

      .input100 {
        width: 300px;
        height: 50px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        outline: none;

        &:focus ~ .focus-input100 {
          visibility: visible;
          transform: scaleX(1) scaleY(1);
          opacity: 1;
        }
        &:focus ~ .wrap-label {
          color: #757575;
        }
        // &:focus ~ .wrap-label{
        //     transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1);
        //     -webkit-transform: matrix3d(1,0,0.00,0,0.00,1,0.00,0,0,0,1,0,0,0,0,1)
        // }
        &:not(:placeholder-shown) ~ .wrap-label {
          transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
          -webkit-transform: matrix3d(
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1,
            0,
            0,
            0,
            0,
            1
          );
        }
        &:not(:placeholder-shown) ~ .label-border {
          width: 100%;
        }
      }
      .focus-input100 {
        color: #355c7d;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: absolute;
        transition: all 0.3s ease-in-out;
        transform: scaleX(1.1) scaleY(1.3);
        border: 1px solid #4caf50;
        border-radius: 5px;
        top: -1;
        left: -1;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
      }
      .label-border {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0%;
        height: 2px;
        background-color: #4caf50;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;
      }
    }
  }
  .add_box_submit {
    width: 100%;
    height: 20%;
    @extend .display-flex;
    input[type="button"] {
      width: 300px;
      height: 50px;
      margin: 20 0 0 0;
      border: none;
      background-color: #4caf50;
      color: #ffffff;
      border-radius: 5px;
      font-family: Roboto;
      font-weight: 500;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: var(--white);

  .nav_logo {
    width: 100%;
    height: 50px;
    @extend .display-flex;
    flex-flow: column !important;
    .nav-profile-img {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid var(--grey);
      @extend .display-flex;
      p {
        font-size: 3em;
      }
    }
  }
  .nav-list {
    width: 100%;
    height: calc(100% - 200px);
    @extend .display-flex;
    align-items: flex-start !important;

    ul {
      list-style: none;
      text-align: center;
      width: 100%;
      margin-top: 15px;
      li {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 1px auto 0 auto;
        border-left: 5px solid var(--green);
        @extend .display-flex;
        a {
          color: var(--green);
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
        }
        &:hover {
          background-color: var(--green);
          color: var(--white);
          a {
            color: var(--white);
          }
        }
      }
      .podmenu {
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        width: 100%;
        height: 60px;
        margin: 1px auto 0 auto;
        border-left: 10px solid rgba(#c3c3c3, 1);
        @extend .display-flex;
        a {
          color: var(--green);
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
        }
        &:hover {
          background-color: var(--green);
          color: var(--white);
          a {
            color: var(--white);
          }
        }
      }
    }
  }
}

.content {
  width: calc(100vw - 200px);
  margin-left: 200px;
  height: 100vh;
  background-color: var(--light_grey);
  .top_header {
    width: 20%;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    @extend .display-flex;
    .top_header_user_name {
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  .content_header {
    width: 100%;
    height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid var(--grey);
    @extend .display-flex;
    justify-content: flex-start !important;
    .content_header_text {
      font-size: 2.5em;
      font-family: "Roboto";
      font-weight: 300;
      margin-left: 30px;
      color: var(--green);
      position: relative;
      &:before {
        content: "/";
        position: absolute;
        left: -20px;
        top: 0;
      }
      &:first-child {
        margin-left: 50px;
      }
    }
  }
  .content_body {
    width: 100%;
    height: calc(100% - 50px);
    padding: 25px;
    font-size: 2.5em;
    font-family: "Open Sans";
    justify-content: center;

    .project_list_header {
      width: 100%;
      height: 50px;
      padding: 0 25px 0 25px;
      @extend .display-flex;
      flex-direction: row;
      border-bottom: 1px solid var(--green);
      background-color: var(--white);

      .project_index {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
      .project_name {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
      .project_start_date {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
      .project_group {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
      .project_status {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
      .project_expand {
        width: calc(100% / 6);
        height: 100%;
        @extend .display-flex;
      }
    }
    .projects_list {
      width: 100%;
      height: calc(100% - 50px);
      scroll-behavior: smooth;
      overflow-y: auto;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--white);
      -webkit-box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.2);
      -moz-box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.2);
      box-shadow: 0px 0px 16px 7px rgba(#b4b4b4, 0.2);

      .project_list_item {
        width: 100%;
        height: 75px;
        @extend .display-flex;
        flex-direction: row;
        border-bottom: 1px solid var(--grey);

        .item_index {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
        }
        .item_name {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
        }
        .item_start_date {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
        }
        .item_group {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
        }
        .item_status {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
        }
        .item_expand {
          width: calc(100% / 6);
          height: 100%;
          @extend .display-flex;
          .expand_button {
            width: 100px;
            height: 30px;
            background-color: var(--green);
            @extend .display-flex;
            font-weight: 500;
            font-family: "Raleway";
            color: var(--light_grey);
            i {
              margin-left: 10px;
              color: var(--white);
            }
          }
          .options_button {
            position: relative;
            width: 100px;
            height: 30px;
            margin-top: 3px;
            background-color: var(--green);
            @extend .display-flex;
            font-weight: 500;
            font-family: "Raleway";
            color: var(--light_grey);
            i {
              margin-left: 10px;
              color: var(--white);
            }
            &:hover .options_menu {
              display: block;
            }
            .options_menu {
              width: 300px;
              height: 75px;
              position: absolute;
              bottom: -75px;
              left: -200px;
              z-index: 1;
              display: none;
              border: 1px solid var(--green);
              background-color: var(--white);
              .options_menu_item_task {
                height: 50%;
                width: 100%;
                padding: 5px;
                display: flex;
                align-items: center;
                color: var(--green);
                transition: 0.3s all ease-in-out;
                &:first-child {
                  border-bottom: 1px solid var(--green);
                }
                &:hover {
                  background-color: var(--green);
                  color: var(--white);
                }
              }
              .options_menu_item_user {
                height: 50%;
                width: 100%;
                padding: 5px;
                display: flex;
                align-items: center;
                color: var(--green);
                transition: 0.3s all ease-in-out;
                &:first-child {
                  border-bottom: 1px solid var(--green);
                }
                &:hover {
                  background-color: var(--green);
                  color: var(--white);
                }
              }
            }
          }
        }
      }
      .project_list_itemdrop {
        width: 100%;
        height: 0px;
        padding: 25px 0 25px 0;
        @extend .display-flex;
        border-bottom: 1px solid var(--grey);
        opacity: 0;
        .zad_error_msg {
          width: 100%;
          height: 100px;
          font-size: 16px;
          color: var(--green);
        }
        .task_left_whitespace {
          position: relative;
          width: 5px;
          height: 300px;
          background-color: var(--green);
          .task_number {
            content: "";
            position: absolute;
            @extend .display-flex;
            width: 30px;
            height: 30px;
            top: 0;
            left: -30px;
            background-color: var(--green);
            color: var(--light_grey);
          }
        }
        .task {
          width: calc(100% - 5px);
          height: 300px;
          @extend .display-flex;
          flex-flow: column !important;
          .task_top_bar {
            height: 50px;
            width: 100%;
            @extend .display-flex;
            border-bottom: 1px solid var(--light_grey);
            background-color: var(--light_grey);
            color: var(--dark);
            .task_full_name {
              height: 100%;
              width: 60%;
              @extend .display-flex;
              justify-content: flex-start !important;
              padding-left: 25px;
            }
            .task_info {
              height: 100%;
              width: calc(100% - 60%);
              @extend .display-flex;
              .task_status {
                width: calc(100% / 4);
                text-align: center;
                .task_open {
                }
                .task_closed {
                }
              }
              .task_milestone {
                width: calc(100% / 4);
                text-align: center;
                .is_a_milestone {
                }
                .not_a_milestone {
                }
              }
              .task_space {
                width: calc(100% / 4);
                text-align: center;
              }
              .task_join {
                height: 100%;
                width: calc(100% / 4);
                @extend .display-flex;
                button {
                  width: 100px;
                  height: 30px;
                  background-color: var(--green);
                  border: none;
                  font-weight: 500;
                  font-family: "Raleway";
                  color: var(--light_grey);
                }
              }
            }
          }
          .task_description {
            width: 100%;
            height: calc(100% - 50px);
            padding: 25px;
          }
        }
      }
    }
  }
}
